.footer-area {
  background-color: #ecca5a;
}

.top-header-area {
  background-color: #ecca5a !important;
}

.text-right p {
  color: black !important;
}

.items {
  color: #745900;
}

.items-img {
  max-width: 100%;
  max-height: 100%;
}
